<div class="container">
    <div class="row p-5">

        {{!-- Card --}}
        <div class="card mx-auto justify-content-center" style="width:500px">
            {{!-- Content --}}
            <div class="card-body">
                <h4 class="card-title">Name: {{employee.name}}</h4>
                <p class="card-text">Address: {{employee.address}}</p>
                <p class="card-text">Salary: {{employee.salary}}</p>
                <a href="/employees/list/{{page}}" class="btn btn-primary">Back</a>
            </div>
        </div>


    </div>
</div>